<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/profile.css">
    <title>Document</title>
</head>
<body>
    <div><h1>Hello User</h1></div>
    <div class="container">
        <section>
            <div class="user-data">
                <p class="user-details">Name: <%= name %></p>
                <p class="user-details">Email: <%= email %></p>
                <a href="">Edit</a> <!--redirect to edit info page--> 
            </div>
        </section>
        <section>
            <div class="product-profile">
                if(locals.isSeller=="true") {
                    <button>My products</button>
                }
                <button>Orders</button>
                <button>Wishlist</button>
                <button>Manage Address</button>
            </div>
        </section>
    </div>
</body>
</html>